@use '../../styles/abstracts/variables' as v;
@use '../../styles/abstracts/mixins' as m;
@use 'sass:map';

.container {
  min-height: 500px;
  padding-top: 40px;
  padding-right: 120px;
  padding-left: 120px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  .title {
    font-weight: 600;
    font-size: 24px;

  }
}
