# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/lib
/storybook-static
# testing
/coverage

# production
/build
.vite
.vitest
/lms.mankai
/dist
.idea
.vscode

# misc
.DS_Store
.env
.env.local
.env.development
.env.test
.env.production

build-storybook.log
chromatic-diagnostics.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
codegen.yml

/test-results/
/playwright-report/
/playwright/.cache/

/legacy
