@use '../../styles/abstracts/variables' as v;
@use '../../styles/abstracts/mixins' as m;
@use 'sass:map';

.home {
  background-color: map.get(v.$colors, accent);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex: 1;
  margin: 0 auto;
  flex-direction: column;
  gap: 24px;

  @include m.respond(md) {
    width: 750px;
  }

  @include m.respond(lg) {
    width: 970px;
  }

  @include m.respond(xl) {
    width: 1300px;
    max-width: 1200px;
  }

  @include m.respond(2xl) {
    max-width: 1280px;
  }

  .listTop {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: map.get(v.$spacing, xs);
    width: 100%;

    .arrowIcons {
      display: flex;
      svg {
        cursor: pointer;
      }
      path {
        stroke: #848484;
      }
      &:hover {
        color: rgb(33, 166, 255);
      }
    }

    .homeText,
    .courseText {
      font-size: 1rem;
      color: var(--Gray-50, #848484);
      font-family: 'SF Pro Display';
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      cursor: pointer;
      &:hover {
        color: rgb(33, 166, 255);
      }
    }
    .topicText {
      color: var(--Gray-800, #3d3d3d);
      font-family: 'SF Pro Display';
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      cursor: pointer;
      &:hover {
        color: rgb(33, 166, 255);
      }
    }
  }

  .title {
    color: var(--Gray-800, #3d3d3d);
    font-family: 'FS PF BeauSans Pro';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
  }

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); // giảm min
  gap: 1rem; // giảm khoảng cách
  justify-content: center;

  @include m.respond(md) {
    grid-template-columns: repeat(3, 1fr); // ép 4 cột trên màn lớn
  }

  @include m.respond(sm) {
    grid-template-columns: 1fr;
  }

    .courseCard {
      max-width: 100%; // không giới hạn chiều rộng
      padding: 0.75rem;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      background: #fff;
      border-radius: 8px;
      position: relative;
      border: 1px solid var(--Gray-100, #ddd);

      .courseImage {
        width: 100%; 
        height: 165px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 8px;
        }
      }

      .courseInfo {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 1rem 0;

        .text {
          color: var(--Gray-700, #676767);
          font-family: 'FS PF BeauSans Pro';
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
        }

        .courseName {
          margin-top: 4px;
          color: var(--Gray-800, #3d3d3d);
          font-family: 'FS PF BeauSans Pro';
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 32px;
        }

        .allLessons {
          margin-top: 16px;
          color: var(--Gray-700, #676767);
          font-family: 'SF Pro Display';
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
        }
      }

      .cardButton {
        position: absolute;
        bottom: 2rem;
        right: 16px;
        max-height: 44px;
        max-width: 60px;
        display: flex;
        padding: 12px 20px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 16px;
        border: 1px solid var(--Orange-600, #dd673c);
        background: #f37142;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        border-bottom: 4px solid #ad502f;
        cursor: pointer;
        background-image: url('src/assets/images/specialRanking/bgbutton2.png');
        background-size: cover;

        &:hover {
          transform: scale(1.05);
          transition: transform 0.3s ease-in-out;
        }
      }
    }
  }
}
