@use '../../styles/abstracts/variables' as v;
@use '../../styles/abstracts/mixins' as m;
@use 'sass:map';
.form :global(.ant-form-item-label > label.ant-form-item-required) {
  &::before {
    display: none !important;
  }

  &::after {
    content: ' *';
    color: #f5222d;
    font-size: 16px;
    font-weight: 500;
    margin-left: 4px;
  }
}

.input {
  border-radius: 8px;
  min-height: 44px;
}

.buttons {
  display: flex;
  gap: 16px;
  margin-top: 16px;

  :global(.ant-btn) {
    border-radius: 8px;
    height: 44px;
    font-weight: 500;
  }
  :global(.ant-btn-primary) {
    background: #f37142;
  }
  :global(.ant-btn-default) {
    color: #f37142;
    border-color: #f37142;
  }
}
