@use '../../../styles/abstracts/variables' as v;
@use '../../../styles/abstracts/mixins' as m;
@use 'sass:map';

.boxMain {
  min-height: 500px;
  margin-top: 16px;
  border-radius: 16px;
  border: 1px solid var(--Gray-100, #ddd);
  background: var(--White, #fff);
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  .contentMain {
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-bottom: 1px solid var(--Gray-100, #ddd);
    .title {
      color: var(--Gray-800, #3d3d3d);

      /* Display xs/ Semibold */
      font-family: 'FS PF BeauSans Pro';
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px; /* 133.333% */
    }
  }
  .text {
    line-height: 30px;
    strong {
      font-weight: 700 !important;
    }

    i,
    em {
      font-style: italic !important;
    }
  }
}
